# Data Analytics II
1. Implement logistic regression using Python/R to perform classification on Social_Network_Ads.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall on the given dataset.

In [44]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
# Importing the dataset
social_ads = pd.read_csv("Social_Network_Ads.csv")

In [46]:
# Displaying Head
social_ads.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [47]:
# Checking Datatypes
social_ads.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [48]:
# Checking for NULL values
social_ads.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [49]:
# Create Data into Dependent and Independent Sets
# We consider only the 'Age' and 'Estimated Salary' as columns
X = social_ads.loc[:, "Age":"EstimatedSalary"]
y = social_ads["Purchased"]

In [50]:
X.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [51]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [52]:
# Split the data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [73]:
X_train.head()

     Age  EstimatedSalary
32    21            16000
25    47            20000
154   40            47000
136   20            82000
223   60           102000

In [74]:
X_test.head()

     Age  EstimatedSalary
269   40            61000
101   28            59000
368   38            71000
120   36            75000
142   35            59000

In [55]:
# Normalization
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

In [56]:
X_train_scaled

array([[-1.5967531 , -1.59694844],
       [ 0.85842816, -1.47917395],
       [ 0.19741782, -0.68419616],
       [-1.69118315,  0.3463306 ],
       [ 2.08601879,  0.93520304],
       [ 0.29184787,  0.05189438],
       [ 0.66956806, -1.12585049],
       [ 0.76399811,  0.52299233],
       [-0.27473242,  0.25799974],
       [-1.12460286,  0.28744336],
       [ 0.00855772, -0.44864719],
       [-0.46359252, -0.03643648],
       [-1.21903291,  0.25799974],
       [ 2.08601879, -1.06696324],
       [ 0.38627792, -0.47809081],
       [ 2.08601879,  0.37577422],
       [ 0.00855772, -0.27198546],
       [ 1.5194385 , -0.00699286],
       [-1.12460286,  0.31688698],
       [-1.69118315, -1.39084308],
       [ 0.95285821, -1.18473773],
       [ 0.95285821, -1.03751962],
       [ 1.04728826, -0.91974513],
       [-1.5967531 , -0.0658801 ],
       [-0.36916247,  1.22963925],
       [ 0.95285821, -0.86085789],
       [-0.27473242,  1.11186477],
       [-1.407893  , -0.12476735],
       [ 0.10298777,  0.25799974],
       [ 0.10298777,  0.02245076],
       [-1.69118315,  0.46410509],
       [-0.93574276,  0.40521784],
       [ 0.29184787,  0.05189438],
       [ 0.48070797,  1.84795531],
       [-1.69118315,  0.3463306 ],
       [-0.27473242, -0.77252703],
       [-1.21903291, -1.4202867 ],
       [ 0.76399811, -0.86085789],
       [-0.27473242, -1.2730686 ],
       [ 1.23614835,  1.87739893],
       [ 2.08601879,  1.11186477],
       [-0.84131271, -0.80197065],
       [-0.93574276,  0.25799974],
       [-0.84131271,  0.14022525],
       [-1.21903291,  0.58187957],
       [-0.08587233,  0.22855611],
       [ 1.23614835,  2.23072239],
       [ 0.66956806, -1.30251222],
       [ 0.29184787,  0.05189438],
       [-1.03017281, -0.36031632],
       [ 1.99158874,  0.16966887],
       [ 0.29184787, -0.7430834 ],
       [ 0.85842816, -1.06696324],
       [ 0.95285821,  1.87739893],
       [-1.03017281, -1.47917395],
       [-0.65245262, -0.12476735],
       [ 0.10298777, -0.83141427],
       [-0.27473242, -0.27198546],
       [-0.08587233, -0.00699286],
       [-0.18030237, -1.09640687],
       [-0.08587233, -0.53697805],
       [-0.93574276, -0.77252703],
       [ 0.38627792,  0.14022525],
       [-0.84131271,  0.37577422],
       [ 0.00855772, -0.27198546],
       [ 1.99158874,  0.52299233],
       [ 0.76399811,  0.25799974],
       [-0.74688266, -1.56750481],
       [-0.46359252, -0.56642167],
       [-0.08587233,  0.05189438],
       [ 0.19741782, -0.30142908],
       [ 0.76399811, -0.3308727 ],
       [-0.27473242, -0.38975994],
       [-0.27473242,  0.6113232 ],
       [ 0.38627792,  0.28744336],
       [-0.27473242, -0.50753443],
       [-1.12460286,  0.40521784],
       [ 0.19741782,  0.14022525],
       [ 0.76399811, -1.4202867 ],
       [-0.18030237,  1.61240634],
       [ 0.19741782, -0.38975994],
       [ 1.04728826,  0.55243595],
       [-1.03017281,  0.75854131],
       [-0.84131271, -0.27198546],
       [-1.7856132 ,  0.16966887],
       [-1.7856132 ,  0.43466147],
       [ 1.42500845,  0.3463306 ],
       [ 0.66956806,  0.25799974],
       [ 0.29184787,  0.05189438],
       [-0.18030237,  1.64184996],
       [-1.407893  , -0.65475254],
       [-0.74688266,  0.25799974],
       [-0.27473242,  0.05189438],
       [-1.5967531 ,  0.52299233],
       [-1.21903291,  0.49354871],
       [ 2.08601879, -0.83141427],
       [ 1.7082986 , -0.30142908],
       [ 0.19741782,  0.05189438],
       [-0.08587233,  0.28744336],
       [-0.74688266, -0.62530892],
       [ 0.85842816, -0.62530892],
       [-0.55802257, -1.53806119],
       [ 0.29184787,  0.25799974],
       [ 1.89715869,  0.72909768],
       [-0.46359252,  1.25908288],
       [ 0.85842816, -0.80197065],
       [ 1.99158874,  1.75962445],
       [ 0.95285821,  1.99517342],
       [-0.08587233, -0.44864719],
       [ 0.48070797,  1.73018082],
       [-1.88004325,  0.46410509],
       [ 0.85842816,  1.0235339 ],
       [ 0.85842816, -1.39084308],
       [-1.31346296,  0.40521784],
       [ 0.10298777,  0.02245076],
       [-0.18030237, -0.21309821],
       [-1.12460286,  0.05189438],
       [-0.84131271,  2.28960964],
       [ 0.38627792, -0.15421097],
       [ 0.29184787,  0.02245076],
       [-0.18030237,  2.17183515],
       [ 1.80272864,  1.52407547],
       [-1.88004325,  0.3463306 ],
       [-1.31346296, -0.44864719],
       [-0.27473242, -0.91974513],
       [-0.84131271,  0.37577422],
       [-1.21903291,  0.28744336],
       [-1.7856132 , -1.30251222],
       [-1.12460286, -1.56750481],
       [ 0.00855772,  1.25908288],
       [-0.93574276, -0.44864719],
       [-0.08587233,  2.23072239],
       [ 1.23614835, -1.39084308],
       [ 0.85842816, -1.33195584],
       [-0.27473242,  2.26016602],
       [ 1.5194385 , -1.30251222],
       [-0.08587233,  0.02245076],
       [ 1.61386855,  1.75962445],
       [ 0.76399811,  1.37685736],
       [ 0.19741782, -0.3308727 ],
       [-0.08587233,  0.28744336],
       [ 1.04728826, -1.24362497],
       [ 0.38627792, -0.00699286],
       [ 1.61386855,  1.61240634],
       [ 1.80272864, -1.09640687],
       [-1.7856132 , -0.00699286],
       [-0.93574276,  0.55243595],
       [-1.5967531 ,  0.05189438],
       [ 1.89715869, -1.39084308],
       [-0.27473242,  0.14022525],
       [ 1.04728826,  2.08350428],
       [ 0.00855772,  1.22963925],
       [ 0.85842816,  1.08242114],
       [ 1.99158874, -0.83141427],
       [-0.08587233, -1.09640687],
       [ 0.38627792, -0.50753443],
       [ 0.38627792, -0.18365459],
       [-1.31346296, -1.12585049],
       [-0.65245262,  0.11078163],
       [-1.7856132 , -1.33195584],
       [-0.93574276, -0.3308727 ],
       [-0.84131271,  0.28744336],
       [-1.03017281,  1.9657298 ],
       [ 0.10298777, -0.3308727 ],
       [-1.21903291, -1.09640687],
       [ 1.89715869,  2.17183515],
       [-0.36916247,  1.31797012],
       [ 0.85842816, -1.18473773],
       [ 1.42500845,  0.05189438],
       [ 0.85842816, -0.56642167],
       [-0.27473242, -0.15421097],
       [ 1.04728826, -1.008076  ],
       [ 1.42500845,  0.99409028],
       [-0.46359252, -0.86085789],
       [-1.50232305, -1.53806119],
       [ 1.3305784 ,  1.99517342],
       [-1.69118315,  0.11078163],
       [-1.12460286, -0.80197065],
       [-1.12460286, -1.18473773],
       [-0.65245262, -0.36031632],
       [-0.46359252, -0.80197065],
       [ 0.76399811, -1.24362497],
       [ 0.57513801,  2.02461704],
       [ 0.38627792,  2.31905326],
       [ 0.00855772, -0.56642167],
       [-0.08587233,  1.9657298 ],
       [ 0.95285821,  2.08350428],
       [ 1.5194385 ,  0.99409028],
       [ 1.1417183 , -0.77252703],
       [ 1.42500845,  2.14239153],
       [ 1.99158874, -1.21418135],
       [-0.65245262, -1.53806119],
       [-0.74688266,  0.49354871],
       [-0.27473242,  0.05189438],
       [-0.74688266,  1.34741374],
       [ 1.1417183 ,  0.52299233],
       [-0.74688266,  0.28744336],
       [ 0.19741782,  0.14022525],
       [-0.27473242, -0.5958653 ],
       [-1.03017281, -0.36031632],
       [-0.08587233,  0.11078163],
       [ 0.38627792, -0.15421097],
       [-0.93574276,  1.55351909],
       [ 0.95285821,  0.75854131],
       [-0.74688266,  1.08242114],
       [-0.18030237, -0.5958653 ],
       [-0.08587233, -0.38975994],
       [ 0.95285821,  0.58187957],
       [-1.69118315, -1.008076  ],
       [ 0.66956806, -0.7430834 ],
       [ 0.76399811, -1.39084308],
       [ 0.38627792,  0.58187957],
       [-0.08587233,  2.17183515],
       [-0.55802257,  0.46410509],
       [-0.18030237, -0.53697805],
       [ 1.42500845, -1.06696324],
       [ 0.95285821, -1.09640687],
       [-1.7856132 , -1.44973033],
       [ 0.00855772, -0.5958653 ],
       [ 0.95285821,  1.43574461],
       [-0.46359252, -0.30142908],
       [ 0.76399811,  0.11078163],
       [-0.27473242, -1.4202867 ],
       [ 0.10298777,  0.75854131],
       [ 1.3305784 , -0.94918876],
       [-0.36916247, -0.80197065],
       [ 0.29184787, -0.56642167],
       [ 0.29184787, -0.3308727 ],
       [ 0.38627792, -0.47809081],
       [-1.03017281, -0.38975994],
       [-0.65245262,  0.02245076],
       [-0.55802257,  2.34849688],
       [-1.50232305, -0.44864719],
       [ 1.1417183 , -1.47917395],
       [-0.27473242,  0.78798493],
       [ 1.1417183 , -1.008076  ],
       [ 0.10298777,  1.87739893],
       [-1.03017281,  0.52299233],
       [ 0.00855772, -0.5958653 ],
       [ 1.99158874,  0.37577422],
       [ 0.29184787, -1.18473773],
       [ 1.04728826,  0.11078163],
       [-1.50232305, -1.2730686 ],
       [ 1.04728826,  0.46410509],
       [-1.88004325, -0.0658801 ],
       [ 0.10298777, -0.83141427],
       [ 0.29184787, -0.21309821],
       [ 0.29184787, -0.30142908],
       [ 0.38627792,  1.11186477],
       [-0.65245262, -1.62639206],
       [-0.93574276,  0.43466147],
       [ 1.80272864, -0.30142908],
       [ 0.00855772, -0.15421097],
       [ 0.19741782,  0.22855611],
       [ 0.85842816,  2.17183515],
       [ 1.3305784 ,  1.2885265 ],
       [ 0.57513801, -0.91974513],
       [-0.74688266, -0.24254183],
       [ 1.99158874,  2.14239153],
       [-1.12460286, -0.53697805],
       [-1.407893  , -1.47917395],
       [-1.03017281, -1.15529411],
       [-0.08587233, -0.24254183],
       [ 1.7082986 ,  1.84795531],
       [-1.7856132 , -1.50861757],
       [ 1.89715869, -0.68419616],
       [ 0.85842816,  1.25908288],
       [ 0.29184787, -0.53697805],
       [-0.65245262, -0.0658801 ],
       [-1.50232305, -0.21309821],
       [-0.27473242, -0.94918876],
       [-0.55802257, -1.53806119],
       [-0.93574276, -1.12585049],
       [-0.08587233,  0.25799974],
       [-0.65245262,  1.40630098],
       [-0.55802257,  0.87631579],
       [ 1.5194385 ,  1.11186477],
       [-1.88004325, -0.77252703],
       [-0.36916247,  0.05189438],
       [-0.18030237, -0.30142908],
       [ 0.38627792,  0.08133801],
       [-0.27473242, -0.5958653 ],
       [-0.08587233,  0.14022525],
       [-0.18030237, -0.47809081],
       [-0.27473242, -1.47917395],
       [ 0.38627792,  0.99409028],
       [-0.27473242,  0.19911249],
       [ 0.19741782,  2.11294791],
       [-0.27473242, -0.44864719],
       [ 1.80272864, -1.30251222],
       [-0.27473242,  0.02245076],
       [-0.08587233,  0.67021044],
       [-0.27473242, -1.39084308],
       [ 1.04728826, -0.15421097],
       [ 0.76399811,  0.3463306 ],
       [-0.27473242,  0.08133801],
       [-1.03017281, -1.56750481],
       [ 0.10298777,  1.52407547],
       [-0.27473242, -1.33195584],
       [-0.27473242, -0.68419616],
       [ 0.29184787, -0.53697805],
       [-1.03017281, -0.47809081],
       [ 0.10298777, -0.27198546],
       [-0.55802257,  1.90684255],
       [-0.84131271, -0.68419616],
       [ 0.95285821,  0.11078163],
       [ 0.00855772, -0.3308727 ],
       [-1.12460286,  0.28744336],
       [-1.31346296, -1.2730686 ],
       [-1.88004325, -0.53697805],
       [-0.84131271, -0.80197065],
       [ 1.3305784 ,  0.58187957],
       [ 0.10298777,  0.08133801],
       [ 0.38627792,  0.28744336],
       [-1.31346296,  0.55243595],
       [-0.36916247, -0.80197065],
       [ 0.85842816, -0.5958653 ],
       [ 1.3305784 ,  2.34849688],
       [ 0.85842816, -0.68419616],
       [-1.407893  ,  0.3463306 ]])

In [59]:
len(X_train_scaled)

320

In [60]:
X_train_scaled = pd.DataFrame(X_train_scaled, columns=["Age", "EstimatedSalary"])
X_train_scaled.head()

        Age  EstimatedSalary
0 -1.596753        -1.596948
1  0.858428        -1.479174
2  0.197418        -0.684196
3 -1.691183         0.346331
4  2.086019         0.935203

In [61]:
X_test_scaled

array([[ 0.19741782, -0.27198546],
       [-0.93574276, -0.3308727 ],
       [ 0.00855772,  0.02245076],
       [-0.18030237,  0.14022525],
       [-0.27473242, -0.3308727 ],
       [ 0.48070797,  1.22963925],
       [-0.46359252, -1.24362497],
       [-0.55802257,  1.37685736],
       [ 0.19741782,  0.02245076],
       [-1.69118315, -0.62530892],
       [-1.31346296, -0.44864719],
       [ 0.66956806, -1.4202867 ],
       [-0.27473242,  0.52299233],
       [ 1.89715869, -0.94918876],
       [-1.03017281,  0.58187957],
       [ 1.04728826, -1.24362497],
       [-1.03017281,  0.40521784],
       [-1.12460286, -1.12585049],
       [-0.93574276, -0.97863238],
       [ 0.10298777,  0.19911249],
       [-1.12460286, -1.62639206],
       [-0.65245262,  0.16966887],
       [-1.12460286,  0.46410509],
       [-0.84131271, -1.24362497],
       [ 0.10298777,  0.14022525],
       [ 0.66956806,  1.78906807],
       [ 0.76399811, -1.12585049],
       [-0.36916247, -1.33195584],
       [-0.93574276,  0.49354871],
       [-0.46359252, -1.15529411],
       [ 0.00855772,  0.28744336],
       [-1.50232305,  0.31688698],
       [-0.74688266,  1.90684255],
       [ 0.19741782,  1.08242114],
       [ 0.29184787,  0.28744336],
       [-1.12460286, -1.62639206],
       [ 1.89715869,  0.90575941],
       [ 0.95285821, -1.21418135],
       [-1.12460286, -1.03751962],
       [-0.18030237,  1.40630098],
       [-0.27473242, -0.30142908],
       [-0.08587233,  0.19911249],
       [-0.74688266,  0.55243595],
       [ 0.19741782, -0.15421097],
       [ 0.66956806, -1.4202867 ],
       [ 1.61386855, -0.91974513],
       [ 0.29184787,  0.49354871],
       [ 0.00855772,  0.02245076],
       [ 0.38627792,  0.25799974],
       [-1.407893  , -1.24362497],
       [ 0.76399811,  0.75854131],
       [-0.74688266, -1.62639206],
       [-0.18030237,  0.84687217],
       [-1.03017281,  0.55243595],
       [-0.27473242,  0.14022525],
       [-1.12460286, -1.59694844],
       [ 1.80272864,  0.11078163],
       [ 0.10298777,  1.05297752],
       [ 0.19741782, -0.38975994],
       [-0.65245262, -1.06696324],
       [-0.08587233, -0.50753443],
       [ 2.08601879, -0.71363978],
       [-1.31346296, -1.50861757],
       [ 2.08601879, -0.83141427],
       [ 0.10298777,  1.87739893],
       [ 1.7082986 ,  0.99409028],
       [-1.31346296, -0.36031632],
       [-0.55802257,  1.46518823],
       [-0.27473242, -0.36031632],
       [ 0.95285821, -1.09640687],
       [-1.407893  , -0.21309821],
       [ 0.19741782, -0.38975994],
       [-1.12460286,  1.40630098],
       [ 1.04728826,  0.52299233],
       [-1.31346296, -1.39084308],
       [-0.55802257,  1.37685736],
       [ 1.3305784 , -1.44973033],
       [ 0.95285821,  1.78906807],
       [-0.65245262,  0.55243595],
       [-0.46359252,  2.31905326]])

In [62]:
len(X_test_scaled)

80

In [63]:
X_test_scaled = pd.DataFrame(X_test_scaled, columns=["Age", "EstimatedSalary"])
X_test_scaled.head()

        Age  EstimatedSalary
0  0.197418        -0.271985
1 -0.935743        -0.330873
2  0.008558         0.022451
3 -0.180302         0.140225
4 -0.274732        -0.330873

In [65]:
# Import the model
from sklearn.linear_model import LogisticRegression

# Set the model
logisticReg = LogisticRegression()

# Fit the model
logisticReg.fit(X_train_scaled, y_train)

LogisticRegression()

In [66]:
# Predict values using the model
y_predict = logisticReg.predict(X_test_scaled)

In [67]:
# Compute the Confusion Matrix
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_predict)
cm

array([[48,  2],
       [12, 18]])

True Positive: 48 \
False Positive: 5 \
False Negative: 13 \
True Negative: 14

In [68]:
# Accuracy = (TP/TestLength)
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_predict)
print("Accuracy Score: ", accuracy)

Accuracy Score:  0.825

In [69]:
# Recall = (TP/(TP+FN))
from sklearn.metrics import recall_score

recall = recall_score(y_test, y_predict, average=None, zero_division=1)
print("Recall Score: ", recall)

Recall Score:  [0.96 0.6 ]

In [70]:
# Precision = (TP/(TP+FP))
from sklearn.metrics import precision_score

precision = precision_score(y_test, y_predict, zero_division=1)
print("Precision Score: ", precision)

Precision Score:  0.9

In [71]:
# Error Rate = 1- accuracy
error_rate = 1-accuracy
print("Error Rate: ", error_rate)

Error Rate:  0.17500000000000004

In [72]:
# F1 Score = 2 * (precision * recall) / (precision + recall)
from sklearn.metrics import f1_score
f1 = f1_score(y_test, y_predict, zero_division=1)
print("F1 Score: ", f1)

F1 Score:  0.7200000000000001